<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tokaku.mapper.CourseMapper">

    <resultMap id="CourseMap" type="Course">
        <id property="courseId" column="course_id"/>
        <result property="courseName" column="course_name"/>
        <result property="score" column="score"/>
        <result property="time" column="time"/>
        <result property="type" column="type"/>
        <result property="majorId" column="major_id"/>
        <result property="term" column="term"/>
        <result property="teacherId" column="teacher_id"/>
    </resultMap>

    <select id="selectCourseList" resultMap="CourseMap">
        select *
        from course
    </select>

    <select id="selectCourseByCourseId" parameterType="int" resultMap="CourseMap">
        select *
        from course
        where course_id = ${courseId}
    </select>

    <select id="selectCourse" parameterType="Course" resultMap="CourseMap">
        select *
        from course
        where course_name = '${courseName}'
          and major_id = '${majorId}'
    </select>

    <select id="selectCourseByTerm" parameterType="String" resultMap="CourseMap">
        select *
        from course
        where major_id = ${majorId}
          and term = ${term}
    </select>

    <insert id="addCourse" parameterType="Course" useGeneratedKeys="true" keyProperty="courseId" keyColumn="course_id">
        insert into course(course_name, type, score, time, major_id, term, teacher_id)
        values (#{courseName}, #{type}, #{score}, #{time}, #{majorId}, #{term}, #{teacherId})
    </insert>

    <insert id="addCourseHasId" parameterType="Course">
        insert into course(course_id, course_name, type, score, time, major_id, term, teacher_id)
        values (#{courseId}, #{courseName}, #{type}, #{score}, #{time}, #{majorId}, #{term}, #{teacherId})
    </insert>

    <delete id="deleteCourseByCourseId" parameterType="String">
        delete
        from course
        where course_id = #{courseId}
    </delete>

    <update id="updateCourse" parameterType="Course">
        update course
        <set>
            <if test="courseName">
                course_name = #{courseName},
            </if>
            <if test="type">
                type = #{type},
            </if>
            <if test="score">
                score = #{score},
            </if>
            <if test="time">
                time = #{time},
            </if>
            <if test="majorId">
                major_id = #{majorId},
            </if>
            <if test="term">
                term = #{term},
            </if>
        </set>
        where course_id = #{courseId}
    </update>

</mapper>
