<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tokaku.mapper.ScheduleMapper">

    <resultMap id="ScheduleMap" type="Schedule">
        <result property="majorId" column="major_id"/>
        <result property="grade" column="grade"/>
        <result property="classNum" column="classnum"/>
        <result property="courseId" column="course_id"/>
        <result property="teacherId" column="teacher_id"/>
        <result property="classId" column="class_id"/>
        <result property="timePart" column="time_part"/>
        <result property="classRoomId" column="classroom_id"/>
    </resultMap>


    <select id="selectSchedule" parameterType="Object" resultMap="ScheduleMap">
        select *
        from schedule
        where major_id = #{majorId}
          and term = #{grade}
          and classnum = #{classNum}
          and time_part = ${timePart}
    </select>

    <insert id="addSchedule" parameterType="Schedule">
        insert into schedule(major_id, term, classnum, course_id, time_part, teacher_id, classroom_id)
        values (#{majorId}, ${grade}, #{classNum}, #{courseId}, #{timePart}, #{teacherId}, #{classRoomId})
    </insert>

    <select id="selectClassScheduleList" parameterType="Object" resultMap="ScheduleMap">
        select *
        from schedule
        where major_id = #{majorId}
          and term = #{term}
          and classnum = #{classNum}
    </select>

    <delete id="deleteScheduleByGrade" parameterType="Object">
        delete
        from schedule
        where major_id = #{majorId}
          and term = #{term}
    </delete>

    <!--    <select id="selectScheduleByTeacherId" parameterType="int" resultMap="ScheduleMap">-->
    <!--        select *-->
    <!--        from schedule-->
    <!--        where teacher_id = #{teacherId}-->
    <!--    </select>-->

    <!--    <select id="queryStuByLimit" resultType="Student" parameterType="map">-->
    <!--        select * from db_school.tb_stu  limit #{startPage},#{pageSize}-->
    <!--    </select>-->

    <!--&lt;!&ndash;    <select id="queryStuById" resultType="Student">&ndash;&gt;-->
    <!--&lt;!&ndash;        select * from db_school.tb_stu where studyid = #{studyid}&ndash;&gt;-->
    <!--&lt;!&ndash;    </select>&ndash;&gt;-->

    <!--    <update id="updateStu" parameterType="Student">-->
    <!--        update db_school.tb_stu-->
    <!--        <set>-->
    <!--            <if test="sno">-->
    <!--                sno = #{sno},-->
    <!--            </if>-->
    <!--            <if test="name">-->
    <!--                name = #{name},-->
    <!--            </if>-->
    <!--            <if test="password">-->
    <!--                password = #{password},-->
    <!--            </if>-->
    <!--            <if test="grade">-->
    <!--                age = #{grade},-->
    <!--            </if>-->
    <!--            <if test="clazz">-->
    <!--                clazz = #{clazz},-->
    <!--            </if>-->
    <!--        </set>-->
    <!--        where sno = #{sno}-->
    <!--    </update>-->


    <!--    <select id="querySize" resultType="int">-->
    <!--        select count(*) from db_school.tb_stu-->
    <!--    </select>-->

</mapper>
