<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tokaku.mapper.TeacherMapper">
    <resultMap id="TeacherMap" type="Teacher">
        <id property="teacherId" column="teacher_id"/>
        <result property="teacherName" column="teacher_name"/>
        <result property="telephone" column="telephone"/>
        <result property="teacherPassword" column="teacher_password"/>
        <result property="courseId" column="course_id"/>
    </resultMap>

    <select id="TeacherCheck" parameterType="String" resultMap="TeacherMap">
        select *
        from db_school.teacher
        where teacher_id = #{username}
          and teacher_password = #{password}
    </select>

    <select id="selectTeacherList" resultMap="TeacherMap">
        select *
        from db_school.teacher
    </select>

    <insert id="addTeacher" parameterType="Teacher" useGeneratedKeys="true" keyProperty="teacherId"
            keyColumn="teacher_id">
        insert into teacher(teacher_name, telephone, course_id)
        values (#{teacherName}, #{telephone}, #{courseId})
    </insert>

    <select id="selectTeacherById" resultMap="TeacherMap" parameterType="String">
        select *
        from teacher
        where teacher_id = #{teacherId}
    </select>

    <update id="updateTeacher" parameterType="Teacher">
        update teacher
        <set>
            <if test="teacherName">
                teacher_name = #{teacherName},
            </if>
            <if test="telephone">
                telephone = #{telephone},
            </if>
            <if test="teacherPassword">
                teacher_password = #{teacherPassword},
            </if>
            <if test="courseId">
                course_id = #{courseId},
            </if>
        </set>
        where teacher_id = #{teacherId}
    </update>

    <delete id="deleteTeacher" parameterType="String">
        delete
        from teacher
        where teacher_id = #{teacherId}
    </delete>

    <!--    <select id="querySize" resultType="int">-->
    <!--        select count(*) from db_school.tb_stu-->
    <!--    </select>-->

</mapper>
