<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tokaku.mapper.UserMapper">
    <select id="loginCheck" parameterType="String" resultType="String">
        select student_name
        from db_school.student
        where student_id = #{username}
          and student_password = #{password}
    </select>
</mapper>
